<div id='search'>
  <h1>SWAPI SEARCH</h1>

  <div>
    <select #dropdown>
      <option value='people'>People</option>
      <option value='starships'>Ships</option>
      <option value='films'>Films</option>
    </select>
  </div>

    <form [formGroup]='searchForm'>
      <label>
        Search:
        <input type='text' formControlName='search'>
      </label>
      <button (click)="onSubmit(dropdown.value, searchForm.controls.search.value)">Enter</button>
    </form>

    <ul *ngIf='_data.results'>
      <li *ngFor='let item of _data.results'>
        {{item.name | json }}:
        {{ item | json }}
    

      </li>
    </ul>
  
  
 
  
</div>

<router-outlet></router-outlet>
