<div id='search'>
  <h1>SWAPI SEARCH</h1>

  <div id='dropdown'>
    <select #dropdown>
      <option value='people'>People</option>
      <option value='starShips'>Ships</option>
      <option value='films'>Films</option>
    </select>

    <form [formGroup]='searchForm' (ngSubmit)='onSubmit()'>
      <label>
        Search:
        <input type='text' formControlName='search'>
      </label>
      <button (click)="onSubmit(dropdown.value, searchForm.search.value)">Enter</button>
    </form>

    <ul *ngIf='_data.results'>
      <li *ngFor='let data of _data.results'>
      {{ item | json }}
      </li>
    </ul>
  
  
  </div>
  
</div>

<router-outlet></router-outlet>
